<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbody.rest_web.dao.dal.OrgMapper">
  <resultMap id="BaseResultMap" type="com.pbody.rest_web.dao.bean.Org">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORGID" jdbcType="VARCHAR" property="orgid" />
    <result column="DISPLAYNAME" jdbcType="VARCHAR" property="displayname" />
    <result column="INITIALS" jdbcType="VARCHAR" property="initials" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="PARENTORGID" jdbcType="VARCHAR" property="parentorgid" />
    <result column="ORGTYPE" jdbcType="VARCHAR" property="orgtype" />
    <result column="ORGLEVEL" jdbcType="VARCHAR" property="orglevel" />
    <result column="DISPLAYORDER" jdbcType="VARCHAR" property="displayorder" />
    <result column="VICEMANAGER" jdbcType="VARCHAR" property="vicemanager" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="LASTUPDATETIME" jdbcType="TIMESTAMP" property="lastupdatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, ORGID, DISPLAYNAME, INITIALS, DESCRIPTION, STATUS, PARENTORGID, ORGTYPE, ORGLEVEL, 
    DISPLAYORDER, VICEMANAGER, CREATETIME, LASTUPDATETIME
  </sql>
  <select id="selectByExample" parameterType="com.pbody.rest_web.dao.bean.OrgExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from auth_org_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from auth_org_info
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from auth_org_info
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.pbody.rest_web.dao.bean.OrgExample">
    delete from auth_org_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pbody.rest_web.dao.bean.Org">
    insert into auth_org_info (ID, ORGID, DISPLAYNAME, 
      INITIALS, DESCRIPTION, STATUS, 
      PARENTORGID, ORGTYPE, ORGLEVEL, 
      DISPLAYORDER, VICEMANAGER, CREATETIME, 
      LASTUPDATETIME)
    values (#{id,jdbcType=BIGINT}, #{orgid,jdbcType=VARCHAR}, #{displayname,jdbcType=VARCHAR}, 
      #{initials,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{parentorgid,jdbcType=VARCHAR}, #{orgtype,jdbcType=VARCHAR}, #{orglevel,jdbcType=VARCHAR}, 
      #{displayorder,jdbcType=VARCHAR}, #{vicemanager,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{lastupdatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.pbody.rest_web.dao.bean.Org">
    insert into auth_org_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="orgid != null">
        ORGID,
      </if>
      <if test="displayname != null">
        DISPLAYNAME,
      </if>
      <if test="initials != null">
        INITIALS,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="parentorgid != null">
        PARENTORGID,
      </if>
      <if test="orgtype != null">
        ORGTYPE,
      </if>
      <if test="orglevel != null">
        ORGLEVEL,
      </if>
      <if test="displayorder != null">
        DISPLAYORDER,
      </if>
      <if test="vicemanager != null">
        VICEMANAGER,
      </if>
      <if test="createtime != null">
        CREATETIME,
      </if>
      <if test="lastupdatetime != null">
        LASTUPDATETIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orgid != null">
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="displayname != null">
        #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="initials != null">
        #{initials,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentorgid != null">
        #{parentorgid,jdbcType=VARCHAR},
      </if>
      <if test="orgtype != null">
        #{orgtype,jdbcType=VARCHAR},
      </if>
      <if test="orglevel != null">
        #{orglevel,jdbcType=VARCHAR},
      </if>
      <if test="displayorder != null">
        #{displayorder,jdbcType=VARCHAR},
      </if>
      <if test="vicemanager != null">
        #{vicemanager,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null">
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pbody.rest_web.dao.bean.OrgExample" resultType="java.lang.Long">
    select count(*) from auth_org_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update auth_org_info
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orgid != null">
        ORGID = #{record.orgid,jdbcType=VARCHAR},
      </if>
      <if test="record.displayname != null">
        DISPLAYNAME = #{record.displayname,jdbcType=VARCHAR},
      </if>
      <if test="record.initials != null">
        INITIALS = #{record.initials,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.parentorgid != null">
        PARENTORGID = #{record.parentorgid,jdbcType=VARCHAR},
      </if>
      <if test="record.orgtype != null">
        ORGTYPE = #{record.orgtype,jdbcType=VARCHAR},
      </if>
      <if test="record.orglevel != null">
        ORGLEVEL = #{record.orglevel,jdbcType=VARCHAR},
      </if>
      <if test="record.displayorder != null">
        DISPLAYORDER = #{record.displayorder,jdbcType=VARCHAR},
      </if>
      <if test="record.vicemanager != null">
        VICEMANAGER = #{record.vicemanager,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastupdatetime != null">
        LASTUPDATETIME = #{record.lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update auth_org_info
    set ID = #{record.id,jdbcType=BIGINT},
      ORGID = #{record.orgid,jdbcType=VARCHAR},
      DISPLAYNAME = #{record.displayname,jdbcType=VARCHAR},
      INITIALS = #{record.initials,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      PARENTORGID = #{record.parentorgid,jdbcType=VARCHAR},
      ORGTYPE = #{record.orgtype,jdbcType=VARCHAR},
      ORGLEVEL = #{record.orglevel,jdbcType=VARCHAR},
      DISPLAYORDER = #{record.displayorder,jdbcType=VARCHAR},
      VICEMANAGER = #{record.vicemanager,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      LASTUPDATETIME = #{record.lastupdatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pbody.rest_web.dao.bean.Org">
    update auth_org_info
    <set>
      <if test="orgid != null">
        ORGID = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="displayname != null">
        DISPLAYNAME = #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="initials != null">
        INITIALS = #{initials,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentorgid != null">
        PARENTORGID = #{parentorgid,jdbcType=VARCHAR},
      </if>
      <if test="orgtype != null">
        ORGTYPE = #{orgtype,jdbcType=VARCHAR},
      </if>
      <if test="orglevel != null">
        ORGLEVEL = #{orglevel,jdbcType=VARCHAR},
      </if>
      <if test="displayorder != null">
        DISPLAYORDER = #{displayorder,jdbcType=VARCHAR},
      </if>
      <if test="vicemanager != null">
        VICEMANAGER = #{vicemanager,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null">
        LASTUPDATETIME = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pbody.rest_web.dao.bean.Org">
    update auth_org_info
    set ORGID = #{orgid,jdbcType=VARCHAR},
      DISPLAYNAME = #{displayname,jdbcType=VARCHAR},
      INITIALS = #{initials,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      PARENTORGID = #{parentorgid,jdbcType=VARCHAR},
      ORGTYPE = #{orgtype,jdbcType=VARCHAR},
      ORGLEVEL = #{orglevel,jdbcType=VARCHAR},
      DISPLAYORDER = #{displayorder,jdbcType=VARCHAR},
      VICEMANAGER = #{vicemanager,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      LASTUPDATETIME = #{lastupdatetime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>